@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen antialiased text-gray-50;
    background: linear-gradient(
      315deg,
      rgba(20, 0, 40, 1) 3%,
      rgba(10, 30, 70, 1) 38%,
      rgba(0, 45, 60, 1) 68%,
      rgba(50, 10, 30, 1) 98%
    );
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: gradient 25s ease infinite;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 10%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 15s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.6;
  bottom: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 25s linear reverse infinite;
  opacity: 0.6;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 30s -1s reverse infinite;
  opacity: 0.7;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}

.borderBlack {
  @apply border border-black/10;
}
